.row {
  margin: 0 auto;
  max-width: 1280px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
}

.logo {
  display: block;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__link {
  position: relative;
  margin: 0 20px;
  display: inline-block;
  padding-left: 34px;
  padding-right: 16px;
  font-size: 13px;
  line-height: 20px;
  color: #484b4c;
  background-position: 0 center;
  background-repeat: no-repeat;
}

.nav__link.more img,
.contacts__link img {
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 7px;
}

/*.nav__link.more img {
  right: 8px;
}*/

.contacts__tel {
  background-image: url('./img/phone.svg');
}

.contacts__city {
  display: inline-block;
  background-image: url('./img/city.svg');
}

.nav-wr {
  display: flex;
  margin-bottom: 0;
}

.nav {
  font-size: 13px;
}

.nav__link {
  padding: 0 15px;
  color: rgb(72, 75, 76);
}

.lang__item,
.nav__link {
  line-height: 20px;
}

.lang__list {
  margin-bottom: 0;
  font-size: 12px;
  color: rgb(72, 75, 76);
  line-height: 20px;
}

.nav__list {
  margin-left: auto;
  margin-bottom: 0;
}

.lang__item.active {
  color: rgb(253, 0, 40);
}

.nav__list,
.lang__list {
  padding-left: 0;
  align-items: center;
  list-style: none;
}

.lang__item {
  padding: 0 8px;
}

.lang-ukr {
  border-right: 1px solid grey;
}

.bot-header {
  min-height: 56px;
  display: flex;
  align-items: center;
  background-color: #484b4c;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

.nav__link.more {
  display: none;
  position: relative;
  cursor: pointer;
}

.buttons {
  display: inline-flex;
}

.bot-row {
  width: 100%;
}

.btn__cat {
  height: 56px;
  position: relative;
  width: 310px;
  display: flex;
  align-items: center;
  padding-left: 32px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-image: url('./img/burger.svg');
}

.form-control {
  margin: 0;
  height: 35px;
  font-size: 14px;
  padding: 0 10px 0 40px;
  background-color: #fff;
  border-radius: 4px;
}

.form {
  position: relative;
  width: 100%;
  max-width: 705px;
}

.form img {
  position: absolute;
  display: block;
}

.form .svg-search {
  top: 7px;
  left: 15px;
}

.form .search-img {
  top: 1px;
  right: 1px;
}



.form-control:focus {
  outline: none;
}

.buttons {
  margin-left: auto;
}

.button {
  padding-top: 20px;
  min-height: 50px;
  font-size: 11px;
  color: white;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center 10px;
  cursor: pointer;
}

.button-m {
  display: none;
  min-height: 50px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.cub {
  background-image: url('./img/cub.svg');
}

.equal {
  background-image: url('./img/equal.svg');
}

.basket {
  position: relative;
  background-image: url('./img/basket.svg');
}

.basket-m {
  position: relative;
  background-image: url('./img/basket.svg');
}

.count  {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50px;
}

.count-m {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 10px;
  width: 9px;
  height: 12px;
}

.burger {
  display: none;
  margin-right: 16px;
  align-items: center;
}

.main {
  padding-top: 20px;
}

.sidebar__wr {
  max-width: 268px;
  width: 100%;
  z-index: 5;
  position: absolute;
  left: -1000px;
  top: 100%;
  opacity: 0;
}

.sidebar__wr .dropdown,
.sidebar__wr .sidebar {
  background-color: #fff;
}

.btn__cat:hover .sidebar__wr {
  opacity: 1;
  left: 0;
}

.btn__cat:hover .overlay {
  opacity: 1;
}

.sidebar {
  position: relative;
  max-width: 268px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.sidebar__item {
  margin-bottom: 7px;
}

.sidebar__item:hover .dropdown {
  opacity: 1;
  left: 100%;
}

.dropdown > a {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.sidebar__link {
  display: block;
  padding-left: 40px;
  color: #484b4c;
  background-repeat: no-repeat, no-repeat;
  background-position: 5px center, calc(100% - 18px) 8px;
  background-image: url('./img/smart.svg'), url('./img/side-arr.svg');
}

.sidebar__link:hover {
  color: #fd0028;
  text-decoration: none;
}

.dropdown {
  position: absolute;
  opacity: 0;
  top: 0;
  left: -1000px;
  width: 670px;
}

.dropdown a {
  color: #484b4c;
}

.dropdown ul {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.overlay {
  display: none;
  content: '';
  z-index: 4;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
}

#wrapper {
  display: block;
  z-index: 1000;
  position: fixed;
  left: 100%;
  width: 0;
  height: 100%;
  margin-left: -100%;
  overflow-y: auto;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled  {
  position: absolute;
  margin-left: -100%;
  width: 100%;
}

.eldorado {
  position: fixed;
  top: 0;
  z-index: 1001;
  margin-left: -100%;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(72, 75, 76);
}

.eldorado a {
  display: block;
}

.sidebar__mobile-wr {
  z-index: 1000;
  position: fixed;
  left: 265px;
  top: 60px;
  width: 0;
  height: 100%;
  margin-left: -265px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled .eldorado {
  margin-left: 0;
}
#wrapper.toggled .sidebar__mobile-wr {
  width: 265px;
}

.sidebar__mobile {
  position: absolute;
  top: 0;
  width: 265px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

.sidebar__mobile-item {
  position: relative;
}

.sidebar__mobil-link {
  position: relative;
  padding-left: 40px;
  display: block;
  background-repeat: no-repeat;
  background-position: 13px center;
  background-image: url('./img/smart.svg');
}

.test::after,
.sidebar__mobil-link::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 9px;
  width: 14px;
  height: 9px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./img/arrow.svg');
  transition: .5s;
  transform: rotate(-90deg)
}

.test.active::after,
.show .sidebar__mobil-link::after {
  transform: rotate(0deg)
}

.sidebar__mobile .dropdown-menu-child,
.sidebar__mobile .dropdown__m {
  border: none;
  width: 100%;
}

.sidebar__mobile .dropdown__m>a {
  margin-left: 35px;
}

.sidebar__mobile .dropdown-menu-child>a {
  margin-left: 55px;
}

.dropdown-submenu {
  margin-left: 55px;
}

a.dropdown-menu__link,
a.test {
  position: relative;
  display: block;
  color: rgba(151,151,151);
}

.dropdown-menu-child {
  list-style: none;
}

.buttons {
  flex-grow: 0;
}

@media screen and (max-width: 1279px) {
  .nav__item.display {
    display: none;
  }

  .nav__link.more {
    display: block;
  }

  .form {
    max-width: 482px;
  }

  .logo {
    margin-right: 100px;
  }

  .contacts {
    margin-right: auto;
  }

}

@media screen and (max-width: 1120px) {
  .logo {
    margin-right: 50px;
  }

  .btn__cat {
    width: 250px;
  }
}

@media screen and (max-width: 959px) {

  .sidebar-desktop {
    display: none;
  }

  .header {
    display: none;
  }

  .button-m {
    position: relative;
    width: 18px;
    height: 18px;
    display: block;
  }

  .count-m {
    position: absolute;
    top: 5px;
    right: -5px;
    color: #ffffff;
  }

  .burger {
    display: flex;
  }

  .button,
  .btn__cat {
    display: none;
  }

  .form {
    max-width: calc(100% - 64px);
    margin-right: 13px;
  }
}

.display {
  display: block;
}

/* .contacts__tel {
} */